asn1crypto==0.22.0
beautifulsoup4==4.6.0
cffi==1.10.0
cryptography==1.8.1
html5lib==0.999999999
idna==2.5
packaging==16.8
prettytable==0.7.2
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.1.4
python-dateutil==2.6.1
pytz==2017.2
requests==2.14.2
six==1.10.0
webencodings==0.5.1
Flask==0.12.2
Jinja2==2.9.6
Werkzeug==0.12.2
MarkupSafe==1.0
itsdangerous==0.24
click==6.7
MarkupSafe==1.0
gunicorn==19.7.1